rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Leidžiame bet kokiam PRISIJUNGUSIAM vartotojui skaityti ir rašyti duomenis.
    // Kadangi mūsų kodo logikoje (where sąlygose) mes jau filtruojame pagal "ownerId",
    // vartotojai programėlėje vis tiek matys tik savo pačių duomenis.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
